doctype html
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title 积分商城倾情巨献，百万红包免费送 
        link(href='dest/css/index.css',rel="stylesheet")
    body
      .Container
        .banner
          img(src='dest/images/01.jpg')
        .btn
          button#btn 领取红包
        .game
          img(src='dest/images/02.jpg')
          img(src='dest/images/03.jpg')
        .foot
          img(src='dest/images/04.jpg')
          img(src='dest/images/05.jpg')
        //20元红包弹框
        .sucessShow
          .boxOuter
            .boxInner
              .close
                img(src='dest/images/error.png')
              .descr 恭喜您领取20元积分商城红包
              .goShop 前往积分商城查看
              .goShare 把好消息告诉大家
        //引导分享
        .share
            img(src='dest/images/Bombbox.png')
      script(src="http://ceair-resource.oss-cn-shanghai.aliyuncs.com/scripts/core/jquery-1.8.3.min.js")
      script(src='dest/js/flexible.js')
      script(src='dest/js/index.min.js')