//-
    Created by WangWei(000267) on 2016/12/12.
    Email: 277545993@qq.com
    Name: 首页
    
extends ../../templates/layouts/default.pug
block vars
    //- 配置模版类型  0默认 1积分商城 2旅游度假 
    - var type = 1
    //- title 页面标题,body.cls  <body class="">,body.key  <body page-key="">,keywords 页面关键词,description
    - var config = {title:"购年味儿", body:{cls:"clsTest",key:"keyTest"},keywords:'购年味儿',description:'购年味儿'}
//- 页面使用到的css
block css
    link(href='dest/css/index.css', rel="stylesheet")
block js
    script(src='dest/js/index.min.js')
//- 页面主体内容
block content
      .Container
        .bg.bg1
        .bg.bg2
        .bg.bg3
        .bg.bg4
        .bg.bg5 
        .bg.bg6
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/11612.html" target="_blank")
                       img(src="dest/images/z1_1.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/125392.html" target="_blank")
                       img(src="dest/images/z1_2.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/127763.html" target="_blank")
                       img(src="dest/images/z1_3.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/121393.html" target="_blank")
                       img(src="dest/images/z1_4.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/123315.html" target="_blank")
                       img(src="dest/images/z1_5.png")
        .bg.bg7
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/126603.html" target="_blank")
                       img(src="dest/images/z1_6.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/119464.html" target="_blank")
                       img(src="dest/images/z1_7.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/128788.html" target="_blank")
                       img(src="dest/images/z1_8.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/129798.html" target="_blank")
                       img(src="dest/images/z1_9.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/128584.html" target="_blank")
                       img(src="dest/images/z1_10.png")
        .bg.bg8
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/100153.html" target="_blank")
                       img(src="dest/images/z1_11.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/126745.html" target="_blank")
                       img(src="dest/images/z1_12.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/120416.html" target="_blank")
                       img(src="dest/images/z1_13.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/124683.html" target="_blank")
                       img(src="dest/images/z1_14.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/120937.html" target="_blank")
                       img(src="dest/images/z1_15.png")
        .bg.bg9
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/124552.html" target="_blank")
                       img(src="dest/images/z1_16.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/124556.html" target="_blank")
                       img(src="dest/images/z1_17.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/124562.html" target="_blank")
                       img(src="dest/images/z1_18.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/118610.html" target="_blank")
                       img(src="dest/images/z1_19.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/119737.html" target="_blank")
                       img(src="dest/images/z1_20.png")
        .bg.bg10
        .bg.bg11
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/125747.html" target="_blank")
                       img(src="dest/images/z2_1.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/130402.html" target="_blank")
                       img(src="dest/images/z2_2.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/127113.html" target="_blank")
                       img(src="dest/images/z2_3.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/118872.html" target="_blank")
                       img(src="dest/images/z2_4.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/16339.html" target="_blank")
                       img(src="dest/images/z2_5.png")
        .bg.bg12
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/117788.html" target="_blank")
                       img(src="dest/images/z2_6.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/126096.html" target="_blank")
                       img(src="dest/images/z2_7.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/123163.html" target="_blank")
                       img(src="dest/images/z2_8.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/117292.html" target="_blank")
                       img(src="dest/images/z2_9.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/121815.html" target="_blank")
                       img(src="dest/images/z2_10.png")
        .bg.bg13
        .bg.bg14
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/126073.html" target="_blank")
                       img(src="dest/images/z3_1.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/129312.html" target="_blank")
                       img(src="dest/images/z3_2.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/124044.html" target="_blank")
                       img(src="dest/images/z3_3.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/126106.html" target="_blank")
                       img(src="dest/images/z3_4.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/128796.html" target="_blank")
                       img(src="dest/images/z3_5.png")
        .bg.bg15
            .goods
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/22415.html" target="_blank")
                       img(src="dest/images/z3_6.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/115451.html" target="_blank")
                       img(src="dest/images/z3_7.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/17639.html" target="_blank")
                       img(src="dest/images/z3_8.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/20010.html" target="_blank")
                       img(src="dest/images/z3_9.png")
                .goodsimg
                    a(href="http://shopping.ceair.com/detail/23289.html" target="_blank")
                       img(src="dest/images/z3_10.png")
        .bg.bg16
      












