//-
    Created by Alan(000058) on 2016/11/11.
    Email: 1480801@qq.com
    Name: 积分商城底部模版

.footer
    .container-fluid
        img(src='/assets/images/service.png')
.footerLink
    .container-fluid
        ul
            li.title 会员权益
            li
                a(href='/Help/MemberBenefit') 会员权益说明
        ul
            li.title 订购流程
            li
                a(href='/Help/RegisterLogin') 注册/登录
            li
                a(href='/Help/OpenConsumerPwd') 开通消费密码
            li
                a(href='/Help/SearchProduct') 搜索商品
            li
                a(href='/Help/AddShoppingCart') 加入购物车
            li
                a(href='/Help/OrderVerify') 订单核对
            li
                a(href='/Help/Pa') 支付
            li
                a(href='/Help/ViewOrderInfo') 查看订单状态
        ul
            li.title 物流配送
            li
                a(href='/Help/Dispatching') 配送标准及范围
            li
                a(href='/Help/DispatchWay') 配送方式
            li
                a(href='/Help/SignNotice') 签收须知
        ul
            li.title 售后服务说明
            li
                a(href='/Help/CustomerService') 客服热线
            li
                a(href='/Help/RefundAndExchangePolicy') 退换货政策
            li
                a(href='/Help/RefundAndExchangeFlow') 退换货流程
            li
                a(href='/Help/GuaranteetTime') 商品保修
            li
                a(href='/Help/Invoice') 发票
        ul
            li.title 友情链接
            li
                a(href='http://easternmiles.ceair.com/',target='_blank') 东方万里行
            li
                a(href='http://www.ceair.com/guide2/wszzzjcs/index.html',target='_blank') 东航网点信息
.footerline &nbsp;
.footerright
    |© Copyright 2016 郑重声明：中国东方航空 版权所有，本网站所有页面及图书未经中国东方航空的明确书面认可，
    br
    |不得以任何形式转载使用，违者必究。沪ICP备 06007993