//-
    Created by WangWei(000267) on 2017/04/06.
    Email: 277545993@qq.com
    Name: 首页
    
extends ../../templates/layouts/default.pug
//- extends ./layouts/default.pug
block vars
    //- 配置模版类型  0默认 1积分商城 2旅游度假
    - var type = 0
    //- title 页面标题,body.cls  <body class="">,body.key  <body page-key="">,keywords 页面关键词,description
    - var config = {title:"酒店频道", body:{cls:"clsTest",key:"keyTest"},keywords:'酒店频道',description:'酒店频道'}
//- 页面使用到的css
block css
    link(href='dest/css/index.css', rel="stylesheet")
block js
    script(src='dest/js/index.min.js')
    
//- 页面主体内容
block content
        .Container
            .banner
            .descrip
                .row1 “东方万里行”会员通过东方航空官网和东方航空APP“酒店频道”预订酒店，实际入住并消费每10元人民币，即可获赠 10 点“东方万里行”积分，首次预订再赠
                    span 500
                    |积分。离店日期需在2017年4月1日至2017年6月30日内。
                .row2 东方航空APP酒店频道已开通Booking.comGenius会员登录通道，会员可通过东方航空APP酒店频道点击Genius图标并登录，即可享受东万里行积分累积和Booking.com Genius会员折扣双重福利。
            .ruler
                .header
                    img.img1(src='dest/images/pic1.png')
                    span 活动规则
                    img.img2(src='dest/images/pic2.png')
                .list
                    .col
                        i 1
                        |活动适用于“东方万里行”会员登入东方航空官网及东方航空APP酒店频道预订享受，需在预订页面输入正确的12位数字的“东方万里行”会员号获得积分奖励（预订时未输入会员号或通过其他途径预订将无法享受该活动奖励）。
                    .col
                        i 2
                        |符合奖励条件的“东方万里行”积分，将在用户通过东航酒店频道预订并住宿完成后的3个月内存入用户账户。积分查询路径 “东航官网及东航APP --万里行专区--我的账户查询”。
                    .col
                        i 3
                        |该活动所指消费价格为实际住宿房费，不含酒店服务费、酒店收取的税金、当地税费、酒店餐饮及加床等费用。用户将以酒店当地的货币付费给酒店。所显示的人民币价格仅供参考，届时所获取的“东方万里行”积分将根据汇率有所变动。
                    .col
                        i 4
                        |此活动适用于所有在东航酒店频道预订的酒店，此活动不可与东航酒店频道其他促销活动同时享受。
                    .col
                        i 5
                        |东方航空电子商务有限公司对此活动具有依法的解释调整终止权利。
            .booking
                a.bookBtn(href="http://globalhotels.ceair.com/" target='_blank') 立即预订


