doctype html
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title 众安保险
        link(href='dest/css/index.css',rel="stylesheet")
    body
      .Container
        img(src='dest/images/01.jpg')
        img(src='dest/images/02.jpg')
        .row1
          a(href="https://m.zhongan.com/open/product/productDetail450400080.vm?bizOrigin=APPdonghanghbyw")
            img(src='dest/images/03.jpg')
          a(href="https://a.zhongan.com/p/81688735?bizOrigin=APPdonghangjnly")
            img(src='dest/images/04.jpg')
        .row2
          a(href="https://a.zhongan.com/p/81521759?bizOrigin=APPdonghangga")
            img(src='dest/images/05.jpg')
          a(href="https://a.zhongan.com/p/81761167?bizOrigin=APPdonghangtw")
            img(src='dest/images/06.jpg')
        .row3
          a(href="https://a.zhongan.com/p/81779125?bizOrigin=APPdonghangdny")
            img(src='dest/images/07.jpg')
          a(href="https://a.zhongan.com/p/81446027?bizOrigin=APPdonghangymja")
            img(src='dest/images/08.jpg')
        .row4
          a(href="https://a.zhongan.com/p/81843546?bizOrigin=APPdonghangsg")
            img(src='dest/images/09.jpg')
          a
            img(src='dest/images/10.jpg')
        img(src='dest/images/11.jpg')
        img(src='dest/images/12.jpg')
        img(src='dest/images/13.jpg')
        img(src='dest/images/14.jpg')


      script(src='dest/js/flexible.js')
      script(src='dest/js/index.min.js')